.container-lading {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;


    .container1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: #F4F4F4;
        height: 100vh;
    }

    .sub1-texto {
        width: 40vw;
        height: 40vh;
    }

    .sub1-texto h1 {
        font-size: 3em;
        font-family: 'Roboto4';
    }

    .sub1-texto h3 {
        font-size: 1.5em;
        font-family: 'Roboto3';
    }

    .sub1-texto p {
        font-size: 1.4em;
        font-family: 'Abhaya2';
    }

    .sub1-imagem {
        background-color: #D9D9D9;
        width: 30vw;
        height: 45vh;
    }

    //--------------------------------

    .container-sobre-nos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
    }

    .container-sobre-nos h1 {
        font-size: 3em;
    }

    .sub2-caixinhas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85vw;
    }

    .sub2-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #D9D9D9;
        border-radius: 10px;
        width: 25vw;
        height: 45vh;
        padding: 0px 15px 0px 15px;
    }

    .sub2-card h3 {
        font-size: 1.6em;
        font-family: 'Roboto3';
    }

    .sub2-card p {
        font-size: 1.5em;
        font-family: 'Abhaya3';
    }

    //-------------------

    .container-feed {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #F4F4F4;
        height: 100vh;
    }

    .sub3-infos {
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 50vh;
        margin-bottom: 2em;
    }

    .sub3-infos h1 {
        font-size: 2.5em;
        font-family: 'Roboto3';
    }

    .sub3-infos p {
        font-size: 1.4em;
        width: 30vw;
        margin-bottom: 2em;
        font-family: 'Abhaya4';
    }

    .sub3-infos .botao-feed {
        width: 15vw;
        height: 6vh;
        background: #35818E;
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        color: #FFFFFF;
        font-family: 'Roboto2';
        cursor: pointer;
    }

    //---------------------

    .container-contato {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #e7e7e7;
        height: 100vh;
    }

    .sub-infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30vh;
        margin-bottom: 5em;
    }

    .sub-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
        height: 50vh;
    }

    input,
    textarea {
        outline: 0;
        resize: none;
        width: 40vw;
    }

    textarea {
        border: 1px solid #9F9F9F;
        border-radius: 10px;
        height: 15vh;
        resize: none;
        padding: 10px;
    }

    .sub-form input {
        border: 1px solid #9F9F9F;
        border-radius: 5px;
        height: 5vh;
        padding: 5px;
    }

    div.sub-form input:focus,
    textarea:focus,
    select:focus {
        border: 2px solid #35818E;
    }

    .botao-enviar {
        width: 15vw;
        height: 6vh;
        background: #35818E;
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        color: #FFFFFF;
        font-family: 'Roboto2';
        cursor: pointer;
    }

    .container-rodape {
        height: 30vh;


    }

    @media(max-width:1020px) {

        .sub1-texto {
            height: 50vh;
        }
    }

    @media(max-width: 930px) {

        .sub2-card p {
            font-size: 1.3em;
        }

        .sub3-infos .botao-feed {
            width: 20vw;
        }
    }

    @media(max-width: 815px) {

        .sub1-texto h1 {
            font-size: 2.2em;
        }

        .sub1-texto h3 {
            font-size: 1.5em;
        }

        .sub1-texto p {
            font-size: 1.3em;
        }

        .sub3-infos {
            width: 45vw;
            height: 52vh;
        }

        .sub3-infos p {
            width: 41vw;
        }

        .sub3-infos .botao-feed {
            width: 25vw;
        }

        .container-sobre-nos {
            height: 90vh;
        }

        .sub2-caixinhas {
            width: 90vw;
        }

        .sub2-card {
            width: 28vw;
        }

        .botao-enviar {
            width: 25vw;
        }

    }

    @media(max-width: 701px) {

        .sub2-card p {
            font-size: 1.2em;
        }
    }

    @media(max-width: 600px) {

        .sub2-caixinhas {
            width: 97vw;
        }

        .sub2-card {
            width: 30vw;
        }

        .sub2-card h3 {
            font-size: 1.3em;
        }

        .sub2-card p {
            font-size: 1.1em;
        }
    }

    @media(max-width: 500px) {

        .sub2-card {
            height: 40vh;
        }

        .sub2-card h3 {
            font-size: 1.1em;
        }

        .sub2-card p {
            font-size: 1.02em;
            width: 27vw;
        }

        .sub3-infos p {
            font-size: 1.2em;
        }
        
        .sub3-infos .botao-feed {
            width: 32vw;
        }
    }

    @media(max-width: 420px) {
        
        .sub1-texto p{
            font-size: 1.2em;
        }

        .sub2-card h3{
            font-size: 1em;
        }

    }

    @media(max-width: 388px){

        .sub1-texto h1{
            font-size: 1.8em;
        }

        .sub1-texto p{
            font-size: 1.1em;
        }
        
        .container-sobre-nos h1{
            font-size: 2em;
        }

        .sub2-caixinhas{
            flex-wrap: wrap;
            justify-content: center;
            width: 75vw;
        }

        #card1{
            margin-right: 1em;
        }

        .sub2-card{
            width: 35vw;
            height: 32vh;
            margin-top: 1em;
        }
        
        .sub2-card h3{
            font-size: 0.9em;
        }

        .sub2-card p{
            font-size: 0.9em;
        }
    }


}