.comp-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 100vw;
    background-color: #35818E;

    .a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95vw;
    }

    .container-nomes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100vh;
    }   

    

    a, h3{
        cursor: pointer;
        color: #ffffff;
        font-family: 'Roboto3';
        font-size: 1.17em;
    }

    .botao-sair{
        cursor: pointer;
    }

    .selected{
        border-bottom: 2px solid white;
    }

    
}