.page-addproduto {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #E5E5E5;

    .container-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 75vw;
        height: 70vh;
        //border: 1px solid blue;
    }
    

    .container-esquerda {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 55vh;
        width: 25vw;
    }

    label {
        color: #35818E;
        font-family: 'Roboto1';
        font-size: 1.2em;
    }

    input,
    textarea,
    select {
        outline: 0;
    }


    div.sub-container1 .input:focus,
    textarea:focus,
    select:focus {
        border: 2px solid #35818E;
    }

    .select-info {
        border: 1px solid #9F9F9F;
        border-radius: 7px;
        height: 5vh;
        padding: 5px;
    }

    .text-produto {
        border: 1px solid #9F9F9F;
        border-radius: 10px;
        height: 15vh;
        resize: none;
        padding: 5px;
    }


    .sub-container1 {
        display: flex;
        flex-direction: column;
    }

    

    .sub-container1 input {
        border: 1px solid #9F9F9F;
        border-radius: 5px;
        height: 4vh;
        padding: 5px;
    }

    .sub-container2{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1em;
    }

    .sub-container2 .input-check{
        border: 1px solid red;
        height: 2vh;
        width: 1vw;
    }


    .container-direita {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 55vh;
        width: 25vw;

    }



    .imagem-indicacao {

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #c4c4c4;
        border-radius: 3px;
        height: 30vh;
        width: 25vw;
        margin-top: 1em;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
        cursor: pointer;
    }

    #imagem-oculta{
        visibility: hidden;
        position: absolute;
        
    }

    .imagem-capa{
        height: 25vh;
        width: 18.5vw;
        border-radius: 3px;
    }

    .botao-add{
        width: 15vw;
        height: 6vh;
        background: #35818E;
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        color: #FFFFFF;
        font-family: 'Roboto2';
        cursor: pointer;
    }

   

}