.comp-menuusuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: #35818E;


    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
        margin-left: 2em;
    }

    .container-opcao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25vw;
    }

    .container-opcao p {
        color: #ffffff;
        font-family: 'Roboto2';
    }

}