.modal-enviaremail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;

    .container-nome-coment {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        width: 15vw;
        border-radius: 5px;
        background-color: #35818E;
        color: #ffffff;
        font-family: 'Roboto1';
    }

    .container-infos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 65vw;
        height: 30vh;
    }

    .sub-info{
        height: 30vh;
    }

    .sub-infos{
        display: flex;
        flex-direction: column;
        height: 10vh;
        width: 24vw;
    }

    .sub-infos label{
        color: #35818E;
        font-family: 'Roboto2';
    }

    .sub-infos .input{
        border: 1px solid #9F9F9F;
        border-radius: 5px;
        height: 4vh;
        padding: 5px;
    }


    .botao-comentario{
        width: 10vw;
        height: 5vh;
        font-family: 'Roboto2';
        font-size: 1.1em;
        color: #FFFFFF;
        border-radius: 8px;
        background: #35818E;
        border: none;
        cursor: pointer;
    }

    .sub-infoss{
        display: flex;
        flex-direction: column;
        width: 25vw;
        height: 30vh;
    }

    .sub-infoss label{
        color: #35818E;
        font-family: 'Roboto2';
    }

    .sub-infoss textarea{
        border: 1px solid #9F9F9F;
        border-radius: 5px;
        height: 15vh;
        padding: 5px;
        resize: none;
    }

    div.sub-infos input:focus,
    div.sub-infoss textarea:focus {
        border: 2px solid #35818E;
    }
    


    
}